*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #dadada;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.wrapper{
    width: 1200px;
    display: flex;
   justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .5s;
    
}
.card__img{
    width: 22%;
    overflow: hidden;
    border-radius: 4px;
    margin: 10px;
}
.card__img:hover img {
    transform: scale(1.2);
}.gallery{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
    opacity: 0;
    pointer-events: none;
}

.gallery__inner img {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    left:15%;
}
i{
    font-size: 35px;
    position: absolute;
    color: white;
}
.prev{
    position: absolute;
    left:3%;
    /* display: none; */
}
.next{
    position: fixed;
    right:5%;
    /* display: none; */
}
.closeBtn{
    top:0;
    right : 10px;
}

.show {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
        


}
.close{
    opacity: 0;
    pointer-events: none;
}

.hide{
    display: none;
}